<div class="row">
  <div class="col-md-6 ">
      <div class="card cardP">
          <div class="card-body">
              <h3 class="card-title">เครื่องใช้ไฟฟ้า</h3>
              <h6 class="card-subtitle">เครื่องปรับอากาศ</h6>
              <ngb-carousel>
                <ng-template ngbSlide *ngFor="let item of air" >
                
                  <img src={{item.img}} alt="Random first slide">
                
                    <h3 class="font-bold color">{{item.name}}</h3>
                    <h3 class="color">ราคา {{item.price}}</h3>

                </ng-template>
                
              </ngb-carousel>
            </div>
      </div>
  </div>
  <div class="col-md-6 ">
      <div class="card cardP">
          <div class="card-body">
              <h3 class="card-title">Carousel</h3>
              <h6 class="card-subtitle">This is basic Carousel</h6>
              <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let item of waterheater" >
                    <img src={{item.img}} alt="Random first slide">
                    
                      <h3 class="font-bold color">{{item.name}}</h3>
                      <h3 class="color">ราคา {{item.price}}</h3>
                    
                  </ng-template>          
                  </ngb-carousel>
            </div>
      </div>
  </div>
</div>