<div class="row">
    <div class="col-12 ">


        <div class="row">

            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/air']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/air.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">เครื่องปรับอากาศ</h4>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/one-door-refrigerators']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/onedoorrefrigerators.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">ตู้เย็น 1 ประตู</h4>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/two-door-refrigerators']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/twodoorrefrigerators.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">ตู้เย็น 2 ประตู</h4>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/washingmachines']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/washingmachines.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">เครื่องซักผ้า ฝาหน้า</h4>

                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/fan']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/fan.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">พัดลม</h4>

                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6" [routerLink]="['/electronics/water-heater']">

                <div class="card cardP">
                    <img class="card-img-top img-responsive imgproduct" src="../../assets/images/produck/waterheater.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">เครื่องทำน้ำอุ่น</h4>

                    </div>
                </div>

            </div>

        </div>



        
<!-- 
    </div>
</div> -->





    



    





    