<div class="row">
    <div class="col-md-3" [routerLink]="['/electronics/air']">
        <div class="card cardP card-outline-danger">
            <div class="card-header">
                <h4 class="m-b-0 text-white">เครื่องปรับอากาศ</h4></div>
            <div class="card-body">         
                <ngb-carousel>
                  <ng-template ngbSlide *ngFor="let item of air" >
                  
                    <img class="imgproduct" src={{item.img}} alt="Random first slide">
                  
                      <!-- <h6 class=" color">{{item.name}}</h6> -->
                      <h5 class="font-bold color">ราคา {{item.price}}</h5>
                      <img  src={{item.store}} >
                  </ng-template>
                  
                </ngb-carousel>
              </div>
        </div>
    </div>
    <div class="col-md-3" [routerLink]="['/electronics/one-door-refrigerators']">
      <div class="card cardP card-outline-danger">
          <div class="card-header">
          <h4 class="m-b-0 text-white">ตู้เย็น 1 ประตู</h4></div>
          <div class="card-body">
              <ngb-carousel>
                <ng-template ngbSlide *ngFor="let item of onedoorrefrigerators" >
                
                  <img class="imgproduct" src={{item.img}} alt="Random first slide">
                
                    <!-- <h6 class=" color">{{item.name}}</h6> -->
                    <h5 class="font-bold color">ราคา {{item.price}}</h5>
                    <img  src={{item.store}} >
                </ng-template>
                
              </ngb-carousel>
            </div>
      </div>
  </div>
  <div class="col-md-3" [routerLink]="['/electronics/two-door-refrigerators']">
    <div class="card cardP card-outline-danger">
        <div class="card-header">
            <h4 class="m-b-0 text-white">ตู้เย็น 2 ประตู</h4></div>
        <div class="card-body">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let item of twodoorrefrigerators" >
              
                <img class="imgproduct" src={{item.img}} alt="Random first slide">
              
                  <!-- <h6 class=" color">{{item.name}}</h6> -->
                  <h5 class="font-bold color">ราคา {{item.price}}</h5>
                  <img  src={{item.store}} >
              </ng-template>
              
            </ngb-carousel>
          </div>
    </div>
</div>
<div class="col-md-3" [routerLink]="['/electronics/washingmachines']">
  <div class="card cardP card-outline-danger">
      <div class="card-header">
          <h4 class="m-b-0 text-white">เครื่องซักผ้า ฝาหน้า</h4></div>
      <div class="card-body">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let item of washingmachines" >
            
              <img class="imgproduct" src={{item.img}} alt="Random first slide">
            
                <!-- <h6 class=" color">{{item.name}}</h6> -->
                <h5 class="font-bold color">ราคา {{item.price}}</h5>
                <img  src={{item.store}} >
            </ng-template>
            
          </ngb-carousel>
        </div>
  </div>
</div>
<div class="col-md-3" [routerLink]="['/electronics/water-heater']">
    <div class="card cardP card-outline-danger">
        <div class="card-header">
            <h4 class="m-b-0 text-white">เครื่องทำน้ำอุ่น</h4></div>
        <div class="card-body">
            <ngb-carousel>
              <ng-template ngbSlide *ngFor="let item of waterheater" >
              
                <img class="imgproduct" src={{item.img}} alt="Random first slide">
                
                  <!-- <h6 class=" color">{{item.name}}</h6> -->
                  <h5 class="font-bold color">ราคา {{item.price}}</h5>
                <img  src={{item.store}} >
              </ng-template>
              
            </ngb-carousel>
          </div>
    </div>
  </div>
    <!-- <div class="col-md-6 ">
        <div class="card cardP">
            <div class="card-body">
                <h3 class="card-title">Carousel</h3>
                <h6 class="card-subtitle">This is basic Carousel</h6>
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let item of waterheater" >
                      <img src={{item.img}} alt="Random first slide">
                      
                        <h3 class="font-bold color">{{item.name}}</h3>
                        <h3 class="color">ราคา {{item.price}}</h3>
                      
                    </ng-template>          
                    </ngb-carousel>
              </div>
        </div>
    </div> -->
  </div>